@model KN_ProyectoWeb.Models.Usuario

@{
    Layout = "~/Views/Shared/_LayoutExterno.cshtml";
}

<div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner">
        <!-- Register -->
        <div class="card">
            <div class="card-body">
                <!-- Logo -->
                <div class="app-brand justify-content-center">
                    <a href="index.html" class="app-brand-link gap-2">
                        <img src="~/StaticFiles/img/favicon.ico" />
                        <span class="app-brand-text demo text-body fw-bolder">Iniciar Sesion</span>
                    </a>
                </div>
                <!-- /Logo -->
                @if (ViewBag.Mensaje != null)
                {

                    <div class="alert alert-warning" role="alert">
                        @ViewBag.Mensaje
                    </div>
                }
                @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @id = "FormIniciarSesion" }))
                {

                    <div class="mb-3">
                        <label for="email" class="form-label">Correo electronico</label>

                        @Html.TextBoxFor(x => x.CorreoElectronico, new { @class = "form-control" })

                    </div>
                    <div class="mb-3 form-password-toggle">
                        <label class="form-label" for="password">Contraseña</label>

                        @Html.TextBoxFor(x => x.Contrasenia, new { @class = "form-control", @type = "password" })
                        <div class="d-flex justify-content-end">
                            <a href="@Url.Action("RecuperarAcceso", "Home")">
                                <small>Olvido la contraseña?</small>
                            </a>
                        </div>




                    </div>
                    <div class="mb-3">
                        <button class="btn btn-primary d-grid w-100" type="submit">Procesar</button>
                    </div>

                }

                <p class="text-center">
                    <span>No tienes cuenta?</span>
                    <a href="@Url.Action("Registro","Home")">
                        <span>Crear una cuenta</span>
                    </a>
                </p>
            </div>
        </div>
        <!-- /Register -->
    </div>
</div>
<script src="~/StaticFiles/js/IniciarSesion.js"></script>