@model KN_ProyectoWeb.Models.Usuario
@{
    Layout = "~/Views/Shared/_LayoutExterno.cshtml";
}

<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
            <!-- Register Card -->
            <div class="card">
                <div class="card-body">
                    <!-- Logo -->
                    <div class="app-brand justify-content-center">
                        <a href="index.html" class="app-brand-link gap-2">
                            <img src="~/StaticFiles/img/favicon.ico" />
                            <span class="app-brand-text demo text-body fw-bolder">Crear Cuenta </span>>
                        </a>
                    </div>
                    <!-- /Logo -->
                    @if (ViewBag.Mensaje != null)
                    {

                        <div class="alert alert-warning" role="alert">
                            @ViewBag.Mensaje
                        </div>
                    }

                    @using (Html.BeginForm("Registro", "Home"))
                    {

                        <div class="mb-3">
                            <label for="username" class="form-label">Identificacion</label>
                            @Html.TextBoxFor(x => x.Identificacion, new { @class = "form-control", @onkeyup = "ConsultarNombre();" })

                        </div>
                        <div class="mb-3">
                            <label for="username" class="form-label">Nombre</label>
                            @Html.TextBoxFor(x => x.Nombre, new { @class = "form-control", @readOnly = true })

                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Correo Electronico</label>
                            @Html.TextBoxFor(x => x.CorreoElectronico, new { @class = "form-control", @type = "email" })

                        </div>
                        <div class="mb-3 form-password-toggle">
                            <label class="form-label" for="password">Contraseña</label>
                            <div class="input-group input-group-merge">
                                @Html.TextBoxFor(x => x.Contrasenia, new { @class = "form-control", @type = "password" })
                                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                            </div>
                        </div>

                        <button class="btn btn-primary d-grid w-100" type="submit">Procesar</button>
                    }

                    <p class="text-center">
                        <span>Ya tienes cuenta?</span>
                        <a href="@Url.Action("Index","Home")">
                            <span>Inicia sesion</span>
                        </a>
                    </p>
                </div>
            </div>
            <!-- Register Card -->
        </div>
    </div>
</div>
<script src="~/StaticFiles/js/Registro.js"></script>
