@model List<KN_ProyectoWeb.Models.Producto>

@{
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

<div class="col-12">
    <div class="card overflow-hidden">
        <div class="d-flex align-items-center">
            <h5 class="card-header mb-0">Productos</h5>
            <a href="@Url.Action("AgregarProductos","Productos")" class="btn btn-outline-primary">+ Agregar</a>
        </div>
        <div class="card-body ps ps--active-x ps--active-y">

            <table id="tbProductos" class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Categoría</th>
                        <th>Estado</th>
                        <th>Imagen</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.ConsecutivoProducto</td>
                            <td>@item.Nombre</td>
                            <td>$ @item.Precio.ToString("N2")</td>
                            <td>@item.NombreCategoria</td>
                            <td>@(item.Estado ? "Activo" : "Inactivo")</td>
                            <td class="text-center"><img src="@item.Imagen" width="110" height="75"></td>
                            <td>
                                <a href="@Url.Action("ActualizarProductos","Productos", new { q = item.ConsecutivoProducto })"> Actualizar </a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>

        </div>
    </div>
</div>

<
<script src="~/StaticFiles/js/VerProductos.js"></script>